body {
    margin: 10px;
    background-color: black;
}

#home {
    background-color:  #483355;
    padding-bottom: 1cm;
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
    display: block;
   }
/* Application name inside the home section. The styling is applied by tag name */
  header {
    font-size: 30px;
    color: rgb(240, 234, 245);
    float: left;
    padding-left: 2cm;
  }
/* Navigation Bar Container*/
  .topdiv {
    float: right;
    padding-right: 1cm;
  }
  
/* Navigation Bar Buttons */
  .topmenu {
    color: lightgray;
    background-color:   #483355;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration:none;
    border-radius: 1mm;
  }
  
  .topmenu:hover {
    color: white;
    font-weight: bolder;
    background-color: #382742;
    text-decoration: underline;
  }

section {
    display: grid;
    justify-content: center;
    align-items: center;
}

section figure {
    float: left;
    width: 200px;
}

section figure img {
    width: 200px;
}

section figure figcaption {
    color: black;
    font-size: 17px;
    text-align: center;
}

section button {
    font-size: 20px;
    border-radius: 40px;
    width: 100%;
    border: 1px solid transparent;
    background-color: lightgreen;
    padding-inline: 15px;
}

section button:hover {
    cursor: pointer;
}

.b {
    border-radius: 10px;
    border-top: 20px solid black;
    background-color: white;
    width: 600px;
    height: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    margin-inline: auto;
}

.temperature {
    border-top: 20px solid green;
}

.weight {
    border-top: 20px solid coral;
}

.distance {
    border-top: 20px solid cyan;
}

legend {
    font-size: 30px;
    font-weight: bold;
}

fieldset {
    margin-left: 50px;
}

#go-home {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: fixed;
    bottom: 40px;
    background-color: white;
}

#go-home a {
    width: 30px;
}

footer {
    background-color: lightpink;
    margin-top: 20px;
}